<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <img
      src="..\static\image.png"
      alt="Logo"
      style="width: 40%; vertical-align: middle"
      class="center-image"
    />

    <div>
      <div id="chatbox">
        <p class="botText"><span>Welcome to EcoChef! Start by asking for any recipe recommendation with what ingredients to include or exclude!</span></p>
        <p class="botText"><span>Example: Any good idea on what I can cook tonight for my family of 4? My sons love potatoes and beef, but absolutely hates cilantro!</span></p>
                
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message" />
        <input id="buttonInput" type="submit" value="Send" />
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document
            .getElementById("userInput")
            .scrollIntoView({ block: "start", behavior: "smooth" });
          $.get("/get", { msg: rawText }).done(function (data) {
            var botHtml = '<p class="botText"><span>' + data + "</span></p>";
            $("#chatbox").append(botHtml);
            document
              .getElementById("userInput")
              .scrollIntoView({ block: "start", behavior: "smooth" });
          });
        }
        $("#textInput").keypress(function (e) {
          if (e.which == 13) {
            getBotResponse();
          }
        });
        $("#buttonInput").click(function () {
          getBotResponse();
        });
      </script>
    </div>
  </body>
</html>
